.env
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.zip
evaluation/
plots/
outputs/
image/
AW.jpg
Aphids.jpeg
BB.jpg
BW.jpg
BW1.jpg
PM.jpg
TS.jpg
TS_1.jpg
test.py
train.py
evaluate.py
convert_to_tflite.py
model/model_final.keras
